<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletDispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDispatcher</servlet-name>
        <servlet-class>edu.ub.sd.onlinereslib.webframework.ServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <context-param>
        <param-name>webcontrollers</param-name>
        <param-value>
            edu.ub.sd.onlinereslib.controllers.HomeController,
            edu.ub.sd.onlinereslib.controllers.PublicCatalogController,
            edu.ub.sd.onlinereslib.controllers.UserCatalogController,
            edu.ub.sd.onlinereslib.controllers.DownloadResourceController,
            edu.ub.sd.onlinereslib.controllers.ResourceLibraryCrawlerController,
            edu.ub.sd.onlinereslib.controllers.api.TypeCatalogController,
            edu.ub.sd.onlinereslib.controllers.api.ResourceDescriptorController,
            edu.ub.sd.onlinereslib.controllers.LogoutController
        </param-value>
    </context-param>

    <context-param>
        <param-name>services</param-name>
        <param-value>
            edu.ub.sd.onlinereslib.services.GsonSerializer,
            edu.ub.sd.onlinereslib.services.UserStore,
            edu.ub.sd.onlinereslib.services.ResourceStore
        </param-value>
    </context-param>

    <context-param>
        <param-name>errorhandler</param-name>
        <param-value>edu.ub.sd.onlinereslib.controllers.ApplicationErrorController</param-value>
    </context-param>

    <security-constraint>
        <display-name>Online Resource Library Authentication</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>

            <!-- Define the context-relative URL(s) to be protected -->
            <url-pattern>/protegit/*</url-pattern>

            <!-- If you list http methods, only those methods are protected -->
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <!-- Anyone with one of the listed roles may access this area -->
            <role-name>Client</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Default login configuration uses form-based authentication -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Secure Area</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/jsp/auth/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/jsp/auth/error.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <!-- Security roles referenced by this web application -->
    <security-role>
        <role-name>Client</role-name>
    </security-role>

</web-app>
